build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

*.gz
*.log

html-js/node_modules/

# Emitted from html-js TypeScript (see html-js/README.md)
src/main/resources/html/js/console.js
src/main/resources/html/js/stickytools.js
src/main/resources/html/js/createhtmltools.js
src/main/resources/html/js/createhomepagetools.js
src/main/resources/html/js/compressiontools.js
src/main/resources/html/js/data/utils.js
src/main/resources/html/js/data/annotation.js
src/main/resources/html/js/data/binding.js
src/main/resources/html/js/data/class.js
src/main/resources/html/js/data/constructor.js
src/main/resources/html/js/data/field.js
src/main/resources/html/js/data/method.js
src/main/resources/html/js/data/parameter.js
src/main/resources/html/js/data/relationship.js
src/main/resources/html/js/data/compressed/annotation.js
src/main/resources/html/js/data/compressed/package.js
src/main/resources/html/js/data/compressed/parameter.js
src/main/resources/html/js/data/compressed/method.js
src/main/resources/html/js/data/compressed/field.js
src/main/resources/html/js/data/compressed/constructor.js
src/main/resources/html/js/data/compressed/text.js
src/main/resources/html/js/data/compressed/type.js
src/main/resources/html/js/class_data_documentation.js
src/main/resources/html/js/filters.js
src/main/resources/html/js/createsignaturetools.js
src/main/resources/html/js/createtabletools.js
src/main/resources/html/js/indexeddb-tools.js
src/main/resources/html/js/indexingworker.js
src/main/resources/html/js/indexpagelogic.js
src/main/resources/html/js/pagination_tools.js
src/main/resources/html/js/relationship_graph.js
src/main/resources/html/js/searching_and_sorting_constants.js
src/main/resources/html/js/searchingtools.js
src/main/resources/html/js/sortingtools.js
src/main/resources/html/js/debug_constants.js
src/main/resources/html/js/debugconstants.js
src/main/resources/html/js/debugtools.js